/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root {
    /* declare a variable with `--` syntax */
    --dark:  darkblue;;
    --light: #b9c6ae;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
} 

/* Settings for header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  
}

header h1 {
  font-size: 300%;
  font-family: 'Gill Sans';
}

/* Main settings for the top heading */
.top-header {
  display: flex;
  padding: 0px;
  text-align: center;
  background: linear-gradient(var(--dark), black);
  width: auto;
  height: 150px;
  margin: auto;
  border-style: solid;
  border-width: 2px;
  border-color: black; 
  min-width: 725px;
}

/* Avatar image settings */
header img {
  border-radius: 40%;
  width: auto;
  height: 90%;
  position: relative;
  left: 5px;
  top: 2px;
}

/* Setting for nav bar in heading */
nav {
  display: flex;
  justify-content: space-between;
  min-width: 275px;
  position: relative;
  top:38%;
  right:1%;
}

nav a {
  font-weight: bold;
  text-decoration: none;
}

/* Hover action for top nav links */
nav a:hover {
  color: var(--light);
}



/* Set size for main prevents overlap */
main {
  display: flex;
  min-width: 700px;
}

/* Side Bar display settings */
aside {
  display: block;
  font-weight: bold;
  font-size: 14pt;
  background-color: var(--light);
  text-align: right;
  width: 150px;
}

aside div {
  border-right-width: 2px;
  border-right-style: solid;
  border-color: var(--dark);
  background-color: var(--light);
  padding-right: 0px;
  margin-right: 0px;
}

aside div p {
  color: black;
}

/* Adjust height of border line for the side bar */
#about{
  height: 13%;
}

#portfolio{
  height: 73.5%;
}

#contact{
  height: 7.9%;
}

/* Display settings for all of the portfolio items until the screen changes */
.portfolio {
  display: flex;
  flex: 0 1 860px;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  justify-content: center;
  
}

/* Settings for the about me section */
.about_me {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  margin: 0px;
  padding: 20px;
}

.about_me p {
  color: black;  
}

/* Biggest portfolio image and text settings */
.big-card{
  border: 2px;
  border-color: black;
}

.big-card h2 {
  background-color:  var(--light);
  color: black;
  font-family: 'Lucida Handwriting';
  font-size: 18pt;
  position: relative;
  top: 65px;
  left:2px;
  padding: 5px;
  width: 400px;

}

/* Size up big image */
.big-card img {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  height: 300px;
  width: auto;
  opacity: 0.7;
}

/* Hover action for bigger image */
.big-card img:hover{
  box-shadow: inset 0px 0px 8px var(--dark), 0 0 15px var(--dark);
  opacity: 1.0;
}

/* Create space between images */
.card {
  margin-left: 10px;
  margin-right: 10px;
}

/* Text for portfolio images */
.card h3 {
  font-family: 'Lucida Sans';
  font-size: 12pt;
  background-color: var(--light);
  color: black;
  position: relative;
  left:1px;
  top: 36px;
  width: 180px;
}

/* Setting apply to all portfolio images except the React J and Designing portfolios */
.card img {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 165px;
  width: auto;
  opacity: 0.7;
}

/* Hover action for the images */
.card img:hover{
  box-shadow: inset 0px 0px 8px var(--dark), 0 0 15px var(--dark);
  opacity: 1.0;
}

/* The React J image is a little longer than the others so need to make it smaller */
#reactj {
  height: 185px;
  width: auto;

}

/* Contact information section */
footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
  background: linear-gradient(var(--dark), black);
  margin-top: auto;
  border: 2px;
  border-color: black;
}

/* Reponsive Design for smaller screens */
@media screen and (max-width: 892px) {

  .portfolio {
    display: flex;
    flex-direction: column;
  }

  .big-card{
    margin:auto;
    width:fit-content;
  }
  .card{
    margin:auto;
    width:fit-content;
  }
  
}

 